body {
	background: #333132;
}

ul {
	list-style:none;
}

h1 {
	color: #fff;
}


nav#primary {
	z-index: 99900;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('../images/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url('../images/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../images/nav-arrow.png') 100% 50% no-repeat;
	font-weight:normal;
	}
nav.next-prev {
	margin: 30px 0 0 0;
	}
	a.prev,
	a.next {
		display: block;
		width: 70px;
		height:70px;
		text-indent: -9999px;
		}
	a.prev {
		margin: 0 auto 5px auto;
		background: transparent url('../images/scroll-up.png') 0 0 no-repeat;
		}
	a.next {
		margin: 5px auto 0 auto;
		background: transparent url('../images/scroll-down.png') 0 0 no-repeat;
		}
#ninth a.next {
		margin: 5px auto 0 auto;
		background: transparent url('../images/scroll-up.png') 0 0 no-repeat;
		}
article h2 { }

.story { height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto;}
.address {
}

#first { background: url(../images/100OceanWatercolor.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#second { background: url(../images/100OceanFour.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#tenth { background: url(../images/100OceanTwo.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#third { background: url(../images/100OceanThree.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#fourth { background: url(../images/100OceanFour.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#fifth {background: url(../images/bg_baccalaureate.png) 50% 0 no-repeat fixed;}
#sixth {background: url(../images/bg_srdays.png) 50% 0 no-repeat fixed;}
#seventh { background: url(../images/bg_srnights.jpg) 50% 0 no-repeat fixed;}
#eighth { background: url(../images/bg_toast.jpg) 50% 0 no-repeat fixed;}
#ninth { background: url(../images/bg_grad.jpg) 50% 0 no-repeat fixed;}

/* Introduction */
#first article { width: 100%; top: 50px; position: absolute; text-align: center; }
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Senior Formal */
#second { padding: 50px 0;}
#second .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; margin-left: 50px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#second article p { margin-bottom: 25px; width:400px; }
#second article a { color: #ff0;}

/* Senior Boat Cruise
#third .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#third .bbox { color: #fff; width: 300px; margin-left: 100px; padding: 10px 20px; }

#third article {  padding: 10px 20px; margin: 80px 0 0 58%; line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#third article p { width: 350px; margin-bottom: 25px; }
// #cruise { background: url(../images/tickets.png) transparent 30px 30px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
*/

/* Senior Formal Tickets */
#tenth article {  padding: 10px 20px; margin: 80px 0 0 56%; line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#tenth article p { width: 425px; margin-bottom: 25px; }
#tenth article a { color: #ff0;}

#tenth .blackbox { margin-top:0px; background:black; height:100%; color: #fff; width: 425px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#tickets { background: url(../images/tickets.png) transparent 30px 30px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }

/* Senior Arts Gala @ Bing */
#third article {  padding: 10px 20px; margin: 80px 0 0 56%; line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#third article p { width: 400px; margin-bottom: 25px; }
#third article a { color: #ff0;}

#third .blackbox { margin-top:20px; background:black; height:100%; color: #fff; width: 400px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#third li { list-style-type:circle; }

/* Senior Workshops */
#fourth .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; margin-left: 50px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#fourth article {  padding: 10px 20px; margin: 80px 0 0 26%; line-height: 1.5em; color: #fff; position: absolute; top: 0; }

/*#fourth article {  margin-top:220px; margin-left: 35%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }*/
#fourth article p {width: 350px; margin-top: 25px; }

/* Baccalaureate Speaker*/
#fifth { padding: 50px 0;}
#fifth .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; margin-left: 50px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#fifth article p { margin-bottom: 25px; width:400px; }
#fifth article a { color: #ff0;}
#fifth li { list-style-type:circle;}

/* Senior Days */
#sixth article {  padding: 10px 20px; margin: 80px 0 0 56%; line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#sixth article p { width: 400px; margin-bottom: 25px; }
#sixth .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#sixth li { list-style-type:circle;}

/* Senior Nights*/
#seventh { padding: 50px 0;}
#seventh .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; margin-left: 50px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#seventh article p { width: 400; margin-bottom: 25px; }
#seventh article a { color: #ff0;}
#seventh li { list-style-type:circle; }

/* Senior Toast */
#eighth article {  padding: 10px 20px; margin: 80px 0 0 56%; line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#eighth article p { width: 400px; margin-bottom: 25px; }
#eighth .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

/* Commencement Weekend*/
#ninth { padding: 50px 0;}
#ninth .blackbox { margin-top:70px; background:black; height:100%; color: #fff; width: 400px; margin-left: 50px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#ninth article p { width: 400; margin-bottom: 25px; }
#ninth article a { color: #ff0;}
#ninth article h2 { font-size:30px; text-align: center; color: #FFF; }
#ninth li { list-style-type:circle; }

/* #bridge { background: url(../images/bridge.png) transparent no-repeat fixed; min-height: 1100px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; } */

/* FAQ */

#faq {
	position:fixed;
	right:10px;
	top:10px;
	z-index: 99901;
	cursor: hand; cursor: pointer; 
}
#twitter {
	position:fixed;
	left:10px;
	bottom:10px;
	z-index: 99901;
	cursor: hand; cursor: pointer; 
}

.fb-like {
	position:fixed;
	left:250px;
	bottom:20px;
	z-index: 99902;
	cursor: hand; cursor: pointer; 
}


/* the overlayed element */
.simple_overlay {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:black;
	opacity:.9;
	color:white;
 	padding:20px;
    width:700px;
    min-height:100px;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 80px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(http://jquerytools.org/media/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
